extends layout
block title
  title (10) Rock Paper Scissors
block content
  h1 Rock Paper Scissors
  .game
    .hands
      .hand#rock
        svg(version="1.1", id="Layer_3", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0", y="0", viewBox="-30 -60 582 582", xml:space="preserve")
          path(style="fill:#FDC794;", d="M429.794,282.483V105.931c0-19.421-15.89-35.31-35.31-35.31c-19.421,0-35.31,15.89-35.31,35.31  V61.793c0-19.421-15.89-35.31-35.31-35.31c-19.421,0-35.31,15.89-35.31,35.31V35.31c0-19.421-15.89-35.31-35.31-35.31  s-35.31,15.89-35.31,35.31v17.655c0-19.421-15.89-35.31-35.31-35.31s-35.31,15.89-35.31,35.31v72.386  c-12.359-30.014-75.034-39.724-60.91,19.421c9.71,41.49,0,98.869-3.531,136.828c-8.828,110.345,73.269,150.952,73.269,150.952l0,0  v77.683L394.484,512v-79.448l0,0C428.029,387.531,429.794,386.648,429.794,282.483")
          g
            path(style="fill:#F9A671;", d="M297.38,441.379h-35.31c-5.297,0-8.828-3.531-8.828-8.828s3.531-8.828,8.828-8.828h35.31  c5.297,0,8.828,3.531,8.828,8.828S302.677,441.379,297.38,441.379z")
            path(style="fill:#F9A671;", d="M306.208,476.69h-52.083c-5.297,0-8.828-3.531-8.828-8.828s3.531-8.828,8.828-8.828h52.083  c5.297,0,8.828,3.531,8.828,8.828S311.504,476.69,306.208,476.69z")
            path(style="fill:#F9A671;", d="M288.553,176.552c-5.297,0-8.828-3.531-8.828-8.828V52.966c0-5.297,3.531-8.828,8.828-8.828 s8.828,3.531,8.828,8.828v114.759C297.38,173.021,293.849,176.552,288.553,176.552z")
            path(style="fill:#F9A671;", d="M217.932,176.552c-5.297,0-8.828-3.531-8.828-8.828V52.966c0-5.297,3.531-8.828,8.828-8.828  c5.297,0,8.828,3.531,8.828,8.828v114.759C226.76,173.021,223.229,176.552,217.932,176.552z")
            path(style="fill:#F9A671;", d="M147.311,203.034c-5.297,0-8.828-3.531-8.828-8.828v-70.621c0-5.297,3.531-8.828,8.828-8.828  s8.828,3.531,8.828,8.828v70.621C156.139,199.503,152.608,203.034,147.311,203.034z")
            path(style="fill:#F9A671;", d="M359.173,203.034c-5.297,0-8.828-3.531-8.828-8.828v-88.276c0-5.297,3.531-8.828,8.828-8.828  c5.297,0,8.828,3.531,8.828,8.828v88.276C368.001,199.503,364.47,203.034,359.173,203.034z")
        h2 Rock
      .hand#paper
        svg(version="1.1", id="Layer_2", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0", y="0", viewBox="20 0 522 522", xml:space="preserve")
          g
            path(style="fill:#FDC794;", d="M402.635,450.207c28.248-37.959,26.483-36.193,26.483-123.586V145.655 c0-16.772-14.124-30.897-30.897-30.897s-30.897,14.124-30.897,30.897V256V48.552c0-16.772-14.124-30.897-30.897-30.897  c-16.772,0-30.897,14.124-30.897,30.897v189.793V30.897C305.532,14.124,291.408,0,274.635,0s-30.897,14.124-30.897,30.897v198.621  V66.207c0-16.772-14.124-30.897-30.897-30.897s-30.897,14.124-30.897,30.897v216.276c0-24.717-21.186-74.152-44.138-97.103l0,0  c-19.421-19.421-74.152-6.179-44.138,35.31c21.186,29.131,35.31,90.924,35.31,123.586c0,78.566,61.793,105.931,61.793,105.931  v35.31c0,15.007,11.476,26.483,26.483,26.483h158.897c15.007,0,26.483-11.476,26.483-26.483V450.207z")
            g
              path(style="fill:#F9A671;", d="M216.373,459.034h-26.483c-5.297,0-8.828-3.531-8.828-8.828c0-5.297,3.531-8.828,8.828-8.828  h26.483c5.297,0,8.828,3.531,8.828,8.828C225.201,455.503,221.67,459.034,216.373,459.034z")
              path(style="fill:#F9A671;", d="M401.753,459.034H384.98c-5.297,0-8.828-3.531-8.828-8.828c0-5.297,3.531-8.828,8.828-8.828h16.772  c5.297,0,8.828,3.531,8.828,8.828C410.58,455.503,407.049,459.034,401.753,459.034z")
              path(style="fill:#F9A671;", d="M208.428,326.621c-19.421,0-35.31-19.421-35.31-44.138c0-5.297,3.531-8.828,8.828-8.828  s8.828,3.531,8.828,8.828c0,14.124,7.945,26.483,17.655,26.483c5.297,0,8.828,3.531,8.828,8.828S212.842,326.621,208.428,326.621z")
              path(style="fill:#F9A671;", d="M234.911,256c-5.297,0-8.828-3.531-8.828-8.828c0-4.414,2.648-7.945,7.062-8.828  c0.883-0.883,1.766-4.414,1.766-8.828c0-5.297,3.531-8.828,8.828-8.828s8.828,3.531,8.828,8.828  C252.566,244.524,245.504,256,234.911,256z")
              path(style="fill:#F9A671;", d="M252.566,256c-10.593,0-17.655-11.476-17.655-26.483c0-5.297,3.531-8.828,8.828-8.828  s8.828,3.531,8.828,8.828c0,4.414,0.883,7.945,1.766,8.828c3.531,0.883,7.062,4.414,7.062,8.828  C261.394,252.469,256.98,256,252.566,256z M255.215,239.228L255.215,239.228L255.215,239.228z")
              path(style="fill:#F9A671;", d="M296.704,264.828c-5.297,0-8.828-3.531-8.828-8.828c0-4.414,2.648-7.945,7.062-8.828  c0.883-0.883,1.766-4.414,1.766-8.828c0-5.297,3.531-8.828,8.828-8.828c5.297,0,8.828,3.531,8.828,8.828  C314.36,253.352,307.297,264.828,296.704,264.828z")
              path(style="fill:#F9A671;", d="M314.36,264.828c-10.593,0-17.655-11.476-17.655-26.483c0-5.297,3.531-8.828,8.828-8.828  c5.297,0,8.828,3.531,8.828,8.828c0,4.414,0.883,7.945,1.766,8.828c3.531,0.883,7.062,4.414,7.062,8.828  C323.187,261.297,318.773,264.828,314.36,264.828z M317.008,248.055L317.008,248.055L317.008,248.055z")
              path(style="fill:#F9A671;", d="M358.497,282.483c-5.297,0-8.828-3.531-8.828-8.828c0-4.414,2.648-7.945,7.062-8.828  c0.883-0.883,1.766-4.414,1.766-8.828c0-5.297,3.531-8.828,8.828-8.828s8.828,3.531,8.828,8.828  C376.153,271.007,369.091,282.483,358.497,282.483z")
              path(style="fill:#F9A671;", d="M376.153,282.483c-10.593,0-17.655-11.476-17.655-26.483c0-5.297,3.531-8.828,8.828-8.828  s8.828,3.531,8.828,8.828c0,4.414,0.883,7.945,1.766,8.828c3.531,0.883,7.062,4.414,7.062,8.828  C384.98,278.952,380.566,282.483,376.153,282.483z M378.801,265.71L378.801,265.71L378.801,265.71z")
              path(style="fill:#F9A671;", d="M243.739,238.345c-5.297,0-8.828-3.531-8.828-8.828V61.793c0-5.297,3.531-8.828,8.828-8.828  s8.828,3.531,8.828,8.828v167.724C252.566,234.814,249.035,238.345,243.739,238.345z")
              path(style="fill:#F9A671;", d="M305.532,238.345c-5.297,0-8.828-3.531-8.828-8.828V44.138c0-5.297,3.531-8.828,8.828-8.828  c5.297,0,8.828,3.531,8.828,8.828v185.379C314.36,234.814,310.828,238.345,305.532,238.345z")
              path(style="fill:#F9A671;", d="M367.325,264.828c-5.297,0-8.828-3.531-8.828-8.828V123.586c0-5.297,3.531-8.828,8.828-8.828  s8.828,3.531,8.828,8.828V256C376.153,261.297,372.622,264.828,367.325,264.828z")
        h2 Paper
      .hand#scissors
        svg(version="1.1", id="Layer_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0", y="0", viewBox="30 0 522 522", xml:space="preserve")
          path(style="fill:#FDC794;", d="M180.788,264.828l-11.476-11.476c-7.062-7.062-14.124-15.007-20.303-22.069  c-20.303-23.834-56.497-34.428-81.214-24.717c-4.414,0.883-7.062,3.531-10.593,5.297c-10.593,7.062-8.828,15.007-8.828,17.655  s50.317,53.848,79.448,105.931c0,0,25.6,42.372,52.966,70.621l16.772,50.317C208.154,489.931,239.933,512,274.36,512h74.152  c34.428,0,69.738-29.131,77.683-62.676c1.766-7.945,5.297-19.421,10.593-25.6c7.945-8.828,17.655-30.897,17.655-61.793v-79.448  c0-12.359,0.883-23.835,3.531-35.31l5.297-26.483c2.648-16.772-6.179-33.545-22.069-39.724  c-22.069-7.945-44.138,6.179-47.669,27.366l-6.179,43.255l10.593-68.855c2.648-16.772-6.179-33.545-22.069-39.724  c-22.069-7.945-44.138,6.179-47.669,27.366l-15.007,76.8l35.31-211.862C350.278,7.062,332.622,0,313.202,0  c-19.421,0-30.897,13.241-35.31,35.31l-26.483,194.207L224.926,46.786c-3.531-25.6-15.89-37.959-35.31-37.959  s-37.076,13.241-35.31,35.31L180.788,264.828")
          g
            path(style="fill:#F9A671;", d="M189.616,291.31c-3.531,0-6.179-1.766-7.945-5.297l-8.828-17.655c-1.766-4.414,0-9.71,3.531-11.476  c4.414-1.766,9.71,0,11.476,3.531l8.828,17.655c1.766,4.414,0,9.71-3.531,11.476C192.264,291.31,191.381,291.31,189.616,291.31z")
            path(style="fill:#F9A671;", d="M224.926,441.379c-1.766,0-3.531-0.883-5.297-1.766c-5.297-4.414-9.71-7.062-15.007-11.476  c-7.062-4.414-13.241-9.71-20.303-15.89c-3.531-3.531-3.531-8.828-0.883-12.359c3.531-3.531,8.828-3.531,12.359-0.883  c6.179,5.297,12.359,9.71,18.538,14.124c5.297,3.531,10.593,7.062,15.89,12.359c3.531,3.531,4.414,8.828,0.883,12.359  C230.222,440.497,227.574,441.379,224.926,441.379z")
            path(style="fill:#F9A671;", d="M401.478,450.207c-2.648,0-5.297-1.766-7.062-3.531c-2.648-4.414-1.766-9.71,2.648-12.359  c4.414-2.648,7.945-5.297,11.476-7.062c5.297-2.648,8.828-4.414,13.241-8.828c3.531-3.531,8.828-3.531,12.359,0  c3.531,3.531,3.531,8.828,0,12.359c-6.179,6.179-12.359,9.71-17.655,12.359c-3.531,1.766-6.179,3.531-9.71,5.297  C405.009,449.324,403.243,450.207,401.478,450.207z")
            path(style="fill:#F9A671;", d="M251.409,264.828c-5.297,0-8.828-3.531-8.828-8.828v-26.483c0-5.297,3.531-8.828,8.828-8.828  c5.297,0,8.828,3.531,8.828,8.828V256C260.236,261.297,256.705,264.828,251.409,264.828z")
            path(style="fill:#F9A671;", d="M383.822,238.345c-0.883,0-1.766,0-2.648-0.883c-4.414-1.766-7.062-6.179-5.297-11.476l8.828-26.483  c1.766-4.414,6.179-7.062,11.476-5.297c4.414,1.766,7.062,6.179,5.297,11.476l-8.828,26.483  C390.885,235.697,387.354,238.345,383.822,238.345z")
            path(style="fill:#F9A671;", d="M313.202,256c-0.883,0-0.883,0-1.766,0c-4.414-0.883-7.945-6.179-7.062-10.593l17.655-79.448  c0.883-4.414,6.179-7.945,10.593-7.062c4.414,0.883,7.945,6.179,7.062,10.593l-17.655,79.448  C321.147,253.352,317.616,256,313.202,256z")
        h2 Scissors
  .stats
    div You: #[span#player 0]
    div AI: #[span#ai 0]
